/* F1EED9 */

.table-small-view {
    font-size: 10px !important;
    text-align: center !important;
    padding: 1px !important;
}

.strike-price {
    font-weight: 700 !important;
    color: #6984AD;
}

.table-in-the-price {
    background-color: #FFF9f0 !important;
}

.first-of-largest-value {
    background-color: #ff4c4c !important;
    color: white !important;
}
.second-of-largest-value {
    background-color: #ffa340 !important;
    color: white !important;
}
.third-of-largest-value {
    background-color: #83aaf0 !important;
    color: white !important;
}
.fourth-of-largest-value {
    background-color: #a7c44c !important;
    color: white !important;
}