/* F1EED9 */

.table-small-view {
    font-size: 11px !important;
    text-align: center !important;
    padding: 1px !important;
}

.fs-10{
    font-size: 11px!important;
}

.fw-600{
    font-weight: 600!important;
}

.strike-price {
    font-weight: 700 !important;
}

.table-in-the-price {
    background-color: #FFF9f0 !important;
}

.first-of-largest-value {
    background-color: #f88796 !important;
    color: rgb(71, 69, 69) !important;
    font-weight: 600 !important;
}
.second-of-largest-value {
    background-color: #ffd27f !important;
    color: rgb(71, 69, 69) !important;
    font-weight: 600 !important;
}
.third-of-largest-value {
    background-color: #bce5af !important;
    color: rgb(71, 69, 69) !important;
    font-weight: 600 !important;
}
.fourth-of-largest-value {
    background-color: #a4c0d6 !important;
    color: rgb(71, 69, 69) !important;
    font-weight: 600 !important;
}